{
    "parser": "babel-eslint",
    "plugins": [
      "mocha"
    ],
    "rules": {
        "strict": 0,
        "no-console": 1,
        "mocha/no-exclusive-tests": "error"
    },
    "extends": "eslint:recommended",
    "env": {
            "es6": true,
            "browser": true
    }
}
