@import "partials/base"

@import "partials/colors"
@import "partials/animations"

body
  background: $background-color
  color: $foreground-color
  font-family: $fixed-font-family
  overflow-x: hidden

h1
  font-weight: $bold

h2, h3
  font-weight: $regular

h4
  font-weight: $light

a
  color: $link-color
  &:link
    color: $link-color

code
  font-family: $fixed-font-family

#header
  font-weight: $header-font-weight
  text-align: center

#content
  display: flex
  flex-direction: column
  pre
    margin: 0px
    width: 300px
    height: 600px

#footer
  text-align: center

.nav
  font-weight: 500
  font-size: 1.2em
  white-space: nowrap

.center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

