extends layouts/default.pug

block prepend meta
  - var title = 'chat';
  - var description = 'chat with the diamonds circle'

block content
  h2 chat
  p chat with the diamonds circle
  h3 channels
  p  just join us at
  a(href='//matrix.to/#/#bots_and_memes:dmnd.sh') #bots_and_memes:dmnd.sh
  p which is also bridged to: 
    a(href='https://discord.gg/E3EAZVQ') discord
    |  and 
    a(href='https://t.me/bots_and_memes/') telegram
  br
  h3 register
  p 
  | if you received an invite token you can now register over at the
  br
  a(href='/register.html') registration page
  br
  br
