extends layouts/default.pug

block prepend meta
  - var title = 'index';
  - var description = 'diamonds: hosting matrix homeserver and other services'

block content
  h2 Welcome to diamonds!
  pre
    span.shimmer#diamonds
