extends layouts/default.pug

block prepend meta
  - var title = 'index';
  - var description = 'Diamonds Website: Hosting Matrix Homeserver and other services'

block content
  h2 Welcome to diamonds!
  pre
    span#diamond
